extends main
block content
    h1 Login
    form(role='form' action="/login" method="post")
        .form-group
            input(name="email" placeholder="Email" type="email" required).form-control
        .form-group
            input(name="password" placeholder="Password" type="password" required id="password").form-control
        .form-group
            input(type="submit" value="Register").form-control.btn.btn-primary