doctype html
html
    head
        include head
        title #{title}
    body
        include navbar
        .container.well
            .jumbotron
                block content
                    h1 ¡Welcome to Solidoy!