nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") Videoclub
        .nav.navbar-nav
            li
                a(href="/rent") Alquilar pelicula
            li
                a(href="/return") Devolver pelicula
