nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            button(type="button",data-toggle="collapse",data-target="#submenu",aria-expanded="false").navbar-toggle.collapsed
                span.sr-only Toggle nav
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Solidoy
        .navbar-collapse.collapse(id="submenu",aria-expanded="false",style="height: 1px;")
            .nav.navbar-nav
                li
                    a(href="/link") Another link
            form.navbar-form.navbar-left(role=search)
                .form-group
                    input(type=text,placeholder="Buscar").form-control
                button(type="submit").btn.btn-default Buscar